header {
    padding: 5px;
    
}
body {
    background-color: lightslategrey;
    
}
h1 {
    background-color: aquamarine;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 20px ;
    margin-right: 20px;
    margin-bottom: 0;
    border-top: 20px solid cornsilk;


}
h2 {
    background-color: palevioletred;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 0;
    margin-left: 20px ;
    margin-right: 20px;
    border-bottom: 20px solid cornsilk;
}

h3 {
    background-color: pink;
    margin-bottom: 0;
    margin-left: 20px ;
    margin-right: 20px;
    margin-right: 20;
   
}
p {
    background-color: cornsilk;
    margin-top: 0;
    margin-left: 20px ;
    margin-right: 20px;
}
h4 {
    background-color: darkcyan;
    text-align: center;
    margin-left: 20px ;
    margin-right: 20px;
}