body {
    background-color: grey;
}
h1 { 
    background-color: black;
    color: rgb(255, 0, 170);
    text-align: center;
}

div { 
    font-size: 40px;
    background-color: lightgrey;
    padding: 30px;
    border: 10px dashed hotpink;
}